{% extends "base.html" %}
{% block content %}
    <form method="POST" action="/upload">
        Class:  <input name="class" type="text" placeholder="Class"><br>
        Teacher: <input name="teacher" type="text" placeholder="Teacher"><br>
        Grade: <select name="grade" id="grade">
            <option value="9">Freshman</option>
            <option value="10">Sophomore</option>
            <option value="11">Junior</option>
            <option value="12">Senior</option>
        </select><br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}